$light-background: #f8f8f8;
$light-text: #333;
$light-secondary-text: #666;

[data-theme="dark"] .autorDetail , .librosList, .Titutlo {
    color: #fff;
  }
.autorDetail {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: $light-text;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .title {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
  }

  .autorInfo {
    font-size: 1rem;
    color: $light-secondary-text;
    margin: 5px 0;
  }


  .librosList {
    list-style: none;
    padding: 0;

    .libroItem {
      background-color: lighten($light-background, 5%);
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s;

      &:hover {
        background-color: lighten($light-background, 10%);
      }

      h3 {
        font-size: 1.2rem;
        color: $light-text;
        margin: 0 0 5px;
      }

      p {
        font-size: 0.9rem;
        color: $light-secondary-text;
        margin: 0;
      }
    }
  }

  
}
